.heroBanner {
    @apply w-full h-[450px] bg-black flex items-center relative;
}

.opacity-layer {
    @apply w-full h-64 absolute bottom-0 left-0 bg-opacity-layer;
    /* background: linear-gradient(180deg, rgba(3 7 18 /1) 0%, rgb(3 7 18 /1) 79.17%); */
}

.heroBannerContent {
    @apply flex flex-col items-center text-white text-center relative max-w-4xl my-0 mx-auto;
}

.backdrop-img .lazy-load-image-background {
    @apply w-full h-full;
}

.backdrop-img .lazy-load-image-background img {
    @apply w-full h-full object-center object-cover;
}

/* Trending */
.carouselSection {
    @apply relative mb-16;
}

.tabItem {
    @apply h-full flex items-center justify-center w-24 text-gray-950 text-sm relative z-10 cursor-pointer;
    transition: color ease 0.3s;
}

.active {
    @apply text-white;
}

.posterBlock .lazy-load-image-background {
    @apply absolute top-0 left-0 w-full h-full rounded-xl overflow-hidden;
}

.posterBlock .lazy-load-image-background img {
    @apply w-full h-full object-center object-cover;
}

.backdrop-img .lazy-load-image-background {
    @apply w-full h-full;
}

.backdrop-img .lazy-load-image-background img {
    @apply w-full h-full object-center object-cover;
}

.circleRating {
    @apply bg-gray-900 rounded-full p-1;
}

/* .row .circleRating .CircularProgressbar-text {
    @apply text-4xl font-bold fill-white -translate-x-6 translate-y-2;
}

.circleRating .CircularProgressbar-text {
    @apply text-4xl font-bold fill-black -translate-x-6 translate-y-2;
} */

.circleRating .CircularProgressbar-trail {
    @apply stroke-transparent;
}

/* Header */
.header.top {
    @apply bg-gray-900 bg-opacity-25 filter;
}

.header.show {
    @apply bg-gray-900 filter;
}

.header.hide {
    @apply -translate-y-16;
}

/* Footer */
.socialIcons .icon {
    @apply w-14 h-14 rounded-full text-xl bg-red-500 flex items-center justify-center cursor-pointer transition;

}




.triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
}

.circle {
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
}

.playbtn .playIcon .triangle {
    @apply stroke-white translate-y-0 transition-all ease-in-out duration-700 delay-0;
}

.playbtn .playIcon .circle {
    @apply stroke-white transition-all ease-in-out duration-500 delay-0;
}

.playbtn:hover .playIcon .triangle {
    @apply opacity-100 stroke-red-700;
    stroke-dashoffset: 0;
    animation: trailorPlay 0.7s ease-in-out;
}

.playbtn:hover .playIcon .circle {
    @apply opacity-100 stroke-red-700;
    stroke-dashoffset: 0;
}

.socialIcons .icon:hover {
    @apply shadow-md text-white bg-red-800;
}




.embed-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}



/* sm (640px)	 */
@media(min-width: 640px) {}

/* md (768px)	 */
@media(min-width: 768px) {
    .heroBanner {
        @apply h-[700px];
    }
}

/* lg (1024px)	 */
@media(min-width: 1024p) {}

/* xl (1280px)	 */
@media(min-width: 1280p) {}

/* 2xl (1536px) */